<h1>Product Page</h1>

<div class="main-display" *ngIf="state === 'main-display' && productsDataSource">
    <button class="align-right" mat-stroked-button (click)="openAddForm()">Add</button>
    <div class="product-table">
        <table mat-table [dataSource]="productsDataSource" class="mat-elevation-z0" matSort>
            <ng-container matColumnDef="prod_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                <td mat-cell *matCellDef="let product">{{product.prod_name}}</td>
            </ng-container>
            <ng-container matColumnDef="brand_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand Name</th>
                <td mat-cell *matCellDef="let product">{{product.brand_name}}</td>
            </ng-container>
            <ng-container matColumnDef="barcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
                <td mat-cell *matCellDef="let product">{{product.barcode}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 25%">Actions</th>
                <td mat-cell *matCellDef="let product">
                    <button mat-stroked-button (click)="openEditForm(product)">Edit</button>
                    <button mat-stroked-button color="warn" (click)="deleteProduct(product._id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: productColumns"></tr>
        </table>

        <mat-paginator [length]="table.length" [pageSize]="10" [pageSizeOptions]="[10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

<div class="submission-form" *ngIf="state === 'add-form' || state === 'edit-form' && tempProduct">
    <mat-form-field>
        <input matInput placeholder="Product Name" [(ngModel)]="tempProduct.prod_name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Brand Name" [(ngModel)]="tempProduct.brand_name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Barcode" [(ngModel)]="tempProduct.barcode">
    </mat-form-field>

    <button mat-stroked-button *ngIf="state === 'add-form'" (click)="createProduct()">Submit</button>
    <button mat-stroked-button *ngIf="state === 'edit-form'" (click)="updateProduct()">Update</button>
</div>
