:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-display {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
}

.product-table {
    width: 750px;
}

table {
    width: 100%;
}

table button {
    width: 70px;
    margin-right: 10px;
}

.align-right {
    margin-right: 0;
    margin-left: auto;
}

button {
    width: 85px;
}


/* Add and Edit Forms */
.submission-form {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

mat-form-field {
    width: 400px;
}
